In [380]:
import numpy as np
from scipy import stats
import pandas as pd
import xarray as xr
import fp_plotting as fpp
from physoce import tseries as ts
import datetime
import os
import ADP_tools as adp

#D1 all in inner channel (IC)
IC1NS_SN = t_reader('ELK2204251124.T')
IC1NS_SN.to_csv('IC1NS_SN.csv', index=False)
IC2NS = t_reader('ELK2204251135.T')
IC2NS.to_csv('IC2NS.csv', index=False)
IC3SN = t_reader('ELK2204251139.T')
IC3SN.to_csv('IC3SN.csv', index=False)
IC4NS = t_reader('ELK2204251145.T')
IC4NS.to_csv('IC4NS.csv', index=False)
IC5SN = t_reader('ELK2204251152.T')
IC5SN.to_csv('IC5SN.csv', index=False)

#Second day of transects IC and bridge (B)
IC6NS = t_reader('ELK2205021146.T')
IC6NS.to_csv('IC6NS.csv', index=False)
IC7SN = t_reader('ELK2205021153.T')
IC7SN.to_csv('IC7SN.csv', index=False)
B8NS = t_reader('ELK2205021227.T')
B8NS.to_csv('B8NS.csv', index=False)
B9SN = t_reader('ELK2205021239.T')
B9SN.to_csv('B9SN.csv', index=False)
#D2 in the afternoon
IC10NS = t_reader('ELK2205021438.T')
IC10NS.to_csv('IC10NS.csv', index=False)
IC11SN = t_reader('ELK2205021446.T')
IC11SN.to_csv('IC11SN.csv', index=False)
B12NS = t_reader('ELK2205021510.T')
B12NS.to_csv('B12NS.csv', index=False)
B13SN = t_reader('ELK2205021515.T')
B13SN.to_csv('B13SN.csv', index=False)

In [384]:
IC14NS = adp.t_reader('ELK2205091136.T')
IC14NS.to_csv('IC14NS.csv', index=False)
IC15SN = adp.t_reader('ELK2205091144.T')
IC15SN.to_csv('IC15SN.csv', index=False)
IC14NS = adp.t_reader('ELK2205091136.T')
IC14NS.to_csv('IC14NS.csv', index=False)
IC14NS = adp.t_reader('ELK2205091136.T')
IC14NS.to_csv('IC14NS.csv', index=False)
IC14NS = adp.t_reader('ELK2205091136.T')
IC14NS.to_csv('IC14NS.csv', index=False)
IC14NS = adp.t_reader('ELK2205091136.T')
IC14NS.to_csv('IC14NS.csv', index=False)
IC14NS = adp.t_reader('ELK2205091136.T')
IC14NS.to_csv('IC14NS.csv', index=False)

C:\Users\Chili\anaconda\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

      V_x   V_y  V_z
6   -28.0   6.2 -4.4
7   -40.7  -4.6   -2
8     2.6   2.7 -6.9
9   -13.6   5.8 -3.4
10  -23.7  25.7  0.6
11    nan   nan  nan
12    nan   nan  nan
13    nan   nan  nan
14    nan   nan  nan
15    nan   nan  nan
16    nan   nan  nan
17    nan   nan  nan
18    nan   nan  nan
19    nan   nan  nan
20    nan   nan  nan
21    nan   nan  nan
22    nan   nan  nan
23    nan   nan  nan
24    nan   nan  nan
25    nan   nan  nan
26    nan   nan  nan
27    nan   nan  nan

In [377]:
dfDis = pd.read_csv("B8dis.csv", delimiter=',', skiprows=[3], header=4, skipfooter = 15, parse_dates=[1,2])
dfDis

<ipython-input-377-279003e51b31>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dfDis = pd.read_csv("B8dis.csv", delimiter=',', skiprows=[3], header=4, skipfooter = 15, parse_dates=[1,2])

,Profile,Date,Time,Distance(m),DMG(m),DistEast(m),DistNorth(m),Latitude(deg),Longitude(deg),Depth_1(m),...,EsDepth(m),uVess(m/s),DirVess(deg),uFlow(m/s),DirFlow(deg),StdDev(m/s),DQI,#_Valid_Cells,Q(m^3/s),Q_Cumul(m^3/s)
0,1,2022-05-02,2022-05-08 12:27:43,2.0,2.0,2.0,0.0,36.810890,-121.784243,4.00,...,0,0.40,89.6,0.04,173.4,0.01,0.7,6,-0.34,-0.3
1,2,2022-05-02,2022-05-08 12:27:48,4.2,4.2,4.2,-0.1,36.810890,-121.784270,3.32,...,0,0.44,92.7,0.05,199.2,0.02,1.1,4,-0.36,-0.7
2,3,2022-05-02,2022-05-08 12:27:53,6.5,6.5,6.5,0.1,36.810888,-121.784300,2.55,...,0,0.46,85.5,0.12,246.6,0.04,2.4,3,-0.26,-1.0
3,4,2022-05-02,2022-05-08 12:27:58,8.8,8.8,8.7,0.7,36.810882,-121.784328,1.99,...,0,0.46,75.2,0.17,234.1,0.05,3.0,2,-0.34,-1.3
4,5,2022-05-02,2022-05-08 12:28:03,10.5,10.1,9.9,2.0,36.810878,-121.784348,2.11,...,0,0.35,42.4,0.12,302.7,0.04,2.0,2,0.54,-0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,126,2022-05-02,2022-05-08 12:38:08,0.0,87.7,72.3,49.7,36.809933,-121.783873,1.74,...,0,0.00,0.0,0.00,0.0,0.00,100.0,0,0.00,161.3
126,127,2022-05-02,2022-05-08 12:38:13,0.0,84.4,71.9,44.1,36.809947,-121.783882,1.74,...,0,0.00,0.0,0.00,0.0,0.00,100.0,0,0.00,161.3
127,128,2022-05-02,2022-05-08 12:38:18,280.2,83.9,71.5,43.8,36.809963,-121.783890,1.93,...,0,0.10,238.5,0.36,275.8,0.06,3.4,2,-0.20,161.1
128,129,2022-05-02,2022-05-08 12:38:23,293.0,72.4,58.8,42.3,36.809977,-121.783897,1.48,...,0,2.56,263.1,2.60,265.3,0.10,4.9,1,-1.73,159.4
129,130,2022-05-02,2022-05-08 12:38:28,296.3,74.3,61.8,41.1,36.809988,-121.783907,2.12,...,0,0.66,111.1,0.35,148.1,0.08,4.4,2,-1.29,158.1

In [360]:
dfDis.to_csv('test.csv')

,%Profile,Time,Distance,DMG,DistEast,DistNorth,GPS,Latitude,GPS.1,Longitude,...,DirVess,uFlow,DirFlow,StdDev,DQI,#,Valid,Q,Q.1,Cumul
0,1,11,35,02,3.7,3.7,3.3,-1.5,36.812190,-121.782097,...,114.2,0.57,178.6,0.01,0.7,4.0,-8.39,-8.4,0.0,NaN
1,2,11,35,07,7.6,7.6,6.6,-3.6,36.812152,-121.782078,...,122.7,0.67,201.3,0.01,0.7,5.0,-12.22,-20.6,0.0,NaN
2,3,11,35,12,11.8,11.7,10.3,-5.7,36.812107,-121.782070,...,119.9,0.53,187.6,0.01,0.5,6.0,-10.21,-30.8,0.0,NaN
3,4,11,35,17,15.5,15.4,13.1,-8.1,36.812080,-121.782077,...,129.9,0.56,179.5,0.01,0.6,6.0,-8.06,-38.9,0.0,NaN
4,5,11,35,21,18.8,18.6,15.2,-10.6,36.812047,-121.782090,...,140.1,0.62,188.8,0.01,0.6,6.0,-8.22,-47.1,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,%,MeasQ/EstQ,=,67.0,(%),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,%,TotalArea,=,529.94,(m2),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,%,MeanVel,=,-0.36,(m/s),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN